/* Estilo para o body */
body {
    font-family: Arial, sans-serif;
}

/* Estilo para a navbar (cor fundo) */
.navbar {
    background-color: rgba(11, 47, 88, 0.95); /* azul */
    background: linear-gradient(to bottom, rgba(11, 47, 88, 0.95), rgba(11, 47, 88, 0.75)); 
}

/* Estilo textos do navbar (cor menus)*/
.navbar-brand,
.navbar-nav .nav-link {
    color: #ffffffaf; /* branco */
    &:hover {
        color: #fff; /* mais claro quando passa o mouse */
        transition: color 0.5s ease; 
        text-shadow: 0px 0px 8px #fff;
    }
}

/* Sombra em volta da logo*/
.navbar-brand :hover{

    box-shadow: 0 0 10px 5px #fff;
    border-radius: 100px;
    
}

#ativo{
    color: #fff;
    text-shadow: 0px 0px 8px #fff ;
}


.navbar-toggler-icon {
    color: #fff; /* branco */
}

/* Estilo para o botão de pesquisa na navbar */
.navbar-form .form-control {
    border-color: rgba(11, 47, 88, 0.95); 
}

.navbar-form .btn {
    border-color: #fff; /* branco */
}

/* Estilo para o botão de login */
.btn-login {
    border-radius: 20px;
    &:hover {
        background-color: rgba(11, 47, 88, 0.95)7bff; /* mais claro quando passa o mouse */
    }
}


.navbar-form {
    margin-left: auto; /* Empurra o formulário para a direita */
}
/* Estilo para os itens de navegação na navbar */
.navbar-nav {
    width: 100%;
}

.navbar-nav .nav-item {
    flex: 1; /* Faz com que os itens ocupem toda a largura disponível */
    text-align: center; /* Centraliza o texto dentro dos itens de navegação */
    
}

/*Estilo botao tela login*/

#btn-entrar{
    border-color: rgba(11, 47, 88, 0.95); 
    background-color: rgba(11, 47, 88, 0.95);    
}

/*Botao carrinho*/

#btn-addcarrinho{
    border-color: rgba(11, 47, 88, 0.95); ;
    background-color: rgba(11, 47, 88, 0.95); 
}
#alert-carrinho{
    border-color: rgba(11, 47, 88, 0.95); ;
    background-color: rgba(11, 47, 88, 0.95); 
}
/*Estilo carrinho*/

.navbar-carrinho{
    padding: 25px;
}


/* Estilo para o modal de login */
.modal-header {
    background-color: rgba(11, 47, 88, 0.95)7bff; /* azul */
    color: #fff; /* branco */
}

.modal-content {
    border-radius: 20px;
}

.modal-body {
    text-align: center;
}

.modal-body a {
    color: rgba(11, 47, 88, 0.95)7bff; /* azul */
}

/* CSS PARA A VITRINE DE PRODUTOS*/
.product-grid {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: nowrap; /* Evita que os produtos quebrem para a próxima linha */
    overflow-x: auto; /* Adiciona rolagem horizontal para o caso de muitos produtos */
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 200px;
    padding: 1rem;
    text-align: center;
}

.product-card img {
    max-width: 100%;
    border-radius: 5px;
}

.product-card h2 {
    font-size: 1.5rem;
    color: #333;
}

.product-card p {
    color: #666;
    font-size: 0.8rem;
}

.product-card .price {
    font-size: 1.2rem;
    color: #000000;
    margin: 1rem 0;
}

.product-card button {
    background-color: rgba(11, 47, 88, 0.95); 
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.product-card button:hover {
    background-color: #555;
}